body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background: black;
  color: white;
  min-height: 100vh;
  transition: color 2s, background 2s;
}

.App.light-mode {
  background-color: white;
  color: black;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 0.5em;
}

.container {
  position: relative;
  z-index: 1;
}

.card {
  border: solid black 2px;
  border-left: none;
  border-right: none;
  border-radius: 1em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  padding: 0.5em;
  padding-bottom: 2em;
}

.light-mode .card {
  border-color: white;
}

.light-mode .card:hover {
  border-color: black;
}

.card:hover {
  border: solid white 2px;
  border-left: none;
  border-right: none;
}

.card p {
  max-width: 250px;
}

.card img {
  border-radius: 100%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border: solid white 2px;
}

.card img.not-planet {
  width: 100px;
  height: 100px;
}

.star {
  transition: transform 2s, color 2s;
}

.light-mode .star {
  transform: translateX(-100vw);
}

button {
  border: none;
  background: grey;
  color: white;
  border-radius: 0.3em;
  padding: 1em;
  margin: 1em;
}

input[type=text] {
  padding: 1em;
  border-radius: 6px;
}
